.titleContainer {
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.successIcon {
  margin-left: 8px;
}

.toggleIcon {
  opacity: .5;
}