@value mainColor: var(--blue);
@value successColor: var(--green);
@value dangerColor: var(--red);

.root :global(.fa-stack) {
  height: calc(1em + 2px);
  width: calc(1em + 2px);
  border: 1px solid var(--black);
  border-radius: 50%;
  font-size: 1.5em;
}

.root :global(.svg-inline--fa.fa-stack-1x) {
  width: 1em;
}

.root {
  position: relative;
  height: 30px;
  margin: 16px 12px;
}

.bar {
  height: 6px;
  position: absolute;
  top: 10px;
}

.plannedRoute {
  composes: bar;
  background: var(--blue);
  opacity: .2;
}

.traveledRoute {
  composes: bar;
  background: var(--green);
}

.deviation {
  composes: bar;
  background: linear-gradient(to right, successColor, dangerColor, dangerColor , successColor);
}

.point {
  position: absolute;
}

.currentPos {
  composes: point;
}

.checkpoint {
  composes: point;
}

.checkpointTime {
  font-size: 8px;
  text-align: center;
}
