:root {
  --blue: #01BEE9;
  --green: #06C575;
  --red: #F10F45;
  --black: #2A2B31;
  --white: #FFFFFF;
  --bg: #082A3B;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #18191D;
}

* {
  box-sizing: border-box;
}

.ml-auto {
  margin-left: auto;
}